html  { 
  	background-image: url(../images/background.jpg); no-repeat center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

body { 
	width: 100%;
	margin: auto;
	color: white;
	font-family: 'Roboto', 'Gill sans', 'Times New Roman', 'sans serif';
	font-variant: small-caps;
	font-weight: normal;
	font-size: 100%;	
}

section {
	width: 100%;
	text-align: center;
}

form {
	border: 1px solid white;
	border-radius: 10px;
	width: 40%;
	margin: 20% auto 0 auto;
	background: rgba(255,0,0,0.7);
}

input {
	border-radius: 10px;
	padding: 4px;
}

button {
	padding: 4px 10px 4px 10px;
}

input[name='submit'] {
	padding: 4px 10px 4px 10px;
}

#form {
	border: 1px solid white;
	border-radius: 10px;
	width: 40%;
	margin: 20% auto 0 auto;
	background: rgba(255,0,0,0.7);
}